.inicial-home {
    background: linear-gradient(rgb(242, 255, 253)2%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7), rgb(0, 0, 0)), url(../img/jpg/bg-home.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.p-top {
    padding: 20px;
    font-size: 18px;
}

.h1-top {
    animation: backInDown 2s ease-in-out;
}

.p-top {
    animation: backInLeft 2s ease;
}

.coll:nth-child(1) {
    animation: backInRight 2s ease-in-out;
}

.coll:nth-child(2) {
    animation: backInRight 2s ease-in-out;
}

.coll:nth-child(3) {
    animation: backInRight 3s ease-in-out;
}

.coll:nth-child(4) {
    animation: backInRight 3s ease-in-out;
}

.inicial-home .btn-secondary {
    background-color: var(--secondary);
    border: var(--secondary);
    width: 290px;
    font-size: 1.1rem;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 8px rgba(99, 99, 99, 0.3);
    animation: backInUp 2s ease-in-out;
    font-weight: 600;
    transition: .4s ease-in-out;
}

.inicial-home .btn-secondary:hover {
    background-color: var(--white);
    border: var(--white);
    color: var(--secondary);
}

.secundaria-home {
    background: linear-gradient(to bottom, var(--white-60), var(--green-ligth-section));
    height: fit-content;
}

.secundaria-home p {
    margin: 0 auto;
    width: 950px;
    padding: 25px;
    text-align: center;
    font-size: 20px;
    color: var(--dark);
}

.secundaria-home h3 {
    font-size: 27px;
    font-weight: 600;
    color: var(--primary);
}

.secundaria-home .service {
    padding: 44px 24px;
    height: 380px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.211);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all .5s ease;
    cursor: default;
}

.secundaria-home .service:hover {
    transform: scale(1.05);
}

.secundaria-home .div-cards {
    margin: 0 auto;
}

.secundaria-home .icon-box {
    width: 100%;
    height: 150px;
    font-size: 36px;
    margin: 0 auto;
    color: var(--primary);
}

.star3 {
    font-size: 20px;
}

.star4 {
    font-size: 28px;
}

.star5 {
    font-size: 36px;
}

.bi-people-fill {
    font-size: 50px;
}

.bi-gear {
    font-size: 30PX;
    margin-left: -10px;
}

.bi-person-check-fill {
    font-size: 50px;
}

.secundaria-home .service p {
    width: 100%;
    font-size: 17px;
    margin-top: -65PX;
    text-align: center;
}

.secundaria-produtos {
    border-top: 2px solid #11252e0f;
    background: linear-gradient(to top, var(--white-60), var(--green-ligth-section));
    height: 800px;
}

.secundaria-produtos .sub-title-produtos {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    color: var(--dark);
}

.produtos .display-6 {
    font-size: 45px;
    padding: 20px;
    font-weight: 700;
    color: var(--secondary);
}

.produtos p {
    font-size: 20px;
    color: var(--dark);
}

.btn-danger:hover {
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--secondary);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.container-carrosel {
    margin: 0 auto;
}

.carousel-inner h4 {
    background: rgb(255, 255, 255);
    margin-top: -180px;
}

.cta {
    padding-top: 70px;
    padding-bottom: 70px;
    background: linear-gradient(to left, rgba(48, 48, 48, 0.4) .1%, rgba(0, 0, 0, 0.9)), url(../img/jpg/fundo-cta.jpg);
    background-position: center;
    background-size: cover;
    border-top: 5px solid rgb(225, 0, 34);
    border-bottom: 5px solid rgb(225, 0, 34);
}

.cta h2 {
    font-size: 2.2rem;
    text-align: start;
}

.cta p {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: start;
}

.conteiner-box-txt {
    opacity: 0;
}

.cta .btn-cta {
    background-color: var(--secondary);
    color: var(--white);
}

.cta .btn-cta:hover {
    background-color: var(--white);
    color: var(--secondary);
}

.contato {
    padding: 0;
}

.p-mail {
    width: 100%;
}

.email {
    font-size: 17px;
}


/****SERVIÇOS*****/

.inicial-servicos {}