@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');
 :root {
    --primary: #0d6efd;
    --primary-two: #004ecb;
    --secondary: #e10022;
    --dark: #21252f;
    --green-ligth: #deeaea;
    --dark-nav: #11252e;
    --white: #ffffff;
    --white-60: #e2e2e2;
    --grey: #dddddd;
    --border: #c3c3c3cc;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
    background-color: rgba(221, 221, 221, 0.549);
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

h2 {
    font-size: 50px;
    color: var(--primary);
}

h1 {
    color: var(--primary);
}

.fsc-p {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

a {
    text-decoration: none;
}

.container {
    text-align: center;
}

.navbar {
    margin-top: 20px;
    position: fixed;
    width: 100%;
    height: max-content;
    z-index: 999;
    /**/
}

.navbar-person {
    background-color: var(--green-ligth);
    border-bottom: 1px solid var(--body);
    margin-top: 0px;
    position: fixed;
    width: 100%;
    height: max-content;
    z-index: 999;
    transition: background-color ease-in-out .2s;
}

.navbar .logo {
    width: 180px;
    height: 70px;
    /**/
}

#logo-person {
    width: 160px;
    height: 50px;
    /**/
}

.navbar i {
    cursor: pointer;
    color: var(--secondary);
    font-size: 45px;
}

.navbar .nav-link {
    font-size: 19px;
    height: 38px;
    font-weight: 600;
    color: var(--primary);
    border-bottom: 4px solid transparent;
}

.navbar .nav-link:hover {
    color: var(--primary-two);
    border-bottom: 4px solid var(--primary-two);
}

.navbar .btn-secondary-c {
    background-color: var(--secondary);
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(99, 99, 99, 0.3);
    width: 120px;
    height: 35px;
    padding: 4px;
    margin-top: 5px;
    color: var(--white);
    font-weight: 600;
    transition: .4s ease-in-out;
}

.navbar .btn-secondary-c:hover {
    background-color: var(--white);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    color: var(--secondary);
}

.inicial-home {
    background: linear-gradient(rgb(242, 255, 253)2%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7), rgb(0, 0, 0)), url(../img/jpg/bg-home.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.p-top {
    padding: 20px;
    font-size: 18px;
}

.h1-top {
    animation: backInDown 2s ease-in-out;
}

.p-top {
    animation: backInLeft 2s ease;
}

.coll:nth-child(1) {
    animation: backInRight 2s ease-in-out;
}

.coll:nth-child(2) {
    animation: backInRight 2s ease-in-out;
}

.coll:nth-child(3) {
    animation: backInRight 3s ease-in-out;
}

.coll:nth-child(4) {
    animation: backInRight 3s ease-in-out;
}

.inicial-home .btn-secondary {
    background-color: var(--secondary);
    border: var(--secondary);
    width: 290px;
    font-size: 1.1rem;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 8px rgba(99, 99, 99, 0.3);
    animation: backInUp 2s ease-in-out;
    font-weight: 600;
    transition: .4s ease-in-out;
}

.inicial-home .btn-secondary:hover {
    background-color: var(--white);
    border: var(--white);
    color: var(--secondary);
}


/*8888888888888888888888888888888888888888888*/

.secundaria-home {
    background: linear-gradient(to bottom, var(--white-60), var(--green-ligth));
    height: fit-content;
}

.secundaria-home p {
    margin: 0 auto;
    width: 950px;
    padding: 25px;
    text-align: center;
    font-size: 20px;
    color: var(--dark);
}

.secundaria-home h3 {
    font-size: 32px;
    font-weight: 100;
    color: var(--primary);
}

.secundaria-home .service {
    padding: 44px 24px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.211);
    border-radius: 10px;
}

.secundaria-home .icon-box {
    width: 100%;
    height: 150px;
    font-size: 40px;
    margin: 0 auto;
    color: var(--primary);
}

.star1 {
    font-size: 35px;
}

.star2 {
    font-size: 40px;
}

.star3 {
    font-size: 50px;
}

.star4 {
    font-size: 55px;
}

.star5 {
    font-size: 70px;
}

.bi-people-fill {
    font-size: 90px;
}

.bi-gear {
    margin-left: -10px;
}

.bi-person-check-fill {
    font-size: 90px;
}

.secundaria-home .service p {
    width: fit-content;
    font-size: 17px;
    text-align: center;
}

.secundaria-produtos {
    border-top: 2px solid #11252e0f;
    background: linear-gradient(to top, var(--white-60), var(--green-ligth));
    height: fit-content;
}

.secundaria-produtos .sub-title-produtos {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    color: var(--dark);
}

.btn-danger:hover {
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--secondary);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.356);
}

.produtos .display-6 {
    font-size: 45px;
    padding: 20px;
    font-weight: 700;
    color: var(--dark);
}

.produtos p {
    font-size: 20px;
    color: var(--dark);
}

.container-carrosel {
    width: 550px;
}


/*8888888888888888888888888888888888888888888*/

.cta {
    padding-top: 70px;
    padding-bottom: 70px;
    background: linear-gradient(to left, rgba(48, 48, 48, 0.4) .1%, rgba(0, 0, 0, 0.9)), url(../img/jpg/fundo-cta.jpg);
    background-position: center;
    background-size: cover;
    border-top: 5px solid rgb(225, 0, 34);
    border-bottom: 5px solid rgb(225, 0, 34);
}

.cta h2 {
    font-size: 2.2rem;
    text-align: start;
}

.cta p {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: start;
}

.conteiner-box-txt {
    opacity: 0;
}

.cta .btn-cta {
    background-color: var(--secondary);
    color: var(--white);
}

.cta .btn-cta:hover {
    background-color: var(--white);
    color: var(--secondary);
}

.footer {
    border-top: 5px solid #0b1a20;
    background-color: #11252e;
}

.div-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    background-color: #0b1a20;
}

.div-footer-bottom>span {
    font-size: 17px;
}

@media (max-width:992px) {
    .navbar-collapse {
        height: 280px;
    }
    .navbar {
        margin-top: 0;
        background-color: var(--green-ligth);
        border-bottom: 1px solid var(--body);
    }
    .navbar .logo {
        width: 160px;
        height: 50px;
    }
    .navbar-nav {
        margin-top: 30px;
    }
    .navbar .nav-link {
        font-size: 18px;
        color: var(--primary);
        border-bottom: 0px solid transparent;
    }
    .navbar .nav-link:hover {
        color: var(--primary-two);
        border-bottom: 0px solid transparent;
    }
    .navbar .btn-secondary-c {
        background-color: var(--green-ligth);
        border-bottom: 0px solid transparent;
        border-right: 0px solid transparent;
        border-radius: 0px;
        box-shadow: none;
        width: 120px;
        height: 35px;
        padding: 4px;
        color: var(--primary);
        font-weight: 600;
        font-size: 18px;
    }
    .navbar .btn-secondary-c:hover {
        color: var(--primary-two);
        font-weight: 600;
        box-shadow: none;
        background-color: var(--green-ligth);
        border-bottom: 0px solid transparent;
        border-right: 0px solid transparent;
        border-radius: 0px;
    }
    .inicial-home {
        height: 700px;
    }
    .cta {
        padding-top: 70px;
        padding-bottom: 70px;
        background: linear-gradient(to left, rgba(48, 48, 48, 0.4) .1%, rgba(0, 0, 0, 0.9)), url(../img/jpg/fundo-cta.jpg);
        background-position: center;
        overflow: hidden;
        border-top: 3px solid rgb(225, 0, 34);
        border-bottom: 3px solid rgb(225, 0, 34);
    }
    .produtos-home::before {
        width: 200px;
        height: 200px;
        top: -30px;
        left: -120px;
    }
    .produtos-home p.fsc-p {
        width: 100%;
    }
    .secundaria-home p {
        margin: 0 auto;
        width: auto;
        padding: 8px;
    }
    .container-carrosel {
        width: 460px;
        margin-top: 15px;
    }
}

@media (max-width: 575.98px) {
    .div-footer-bottom {
        font-size: 14px;
    }
    .div-footer-bottom>span {
        font-size: 14px;
    }
}