@media (max-width: 992px) {
    .navbar-collapse {
        height: 370px;
    }
    .navbar {
        margin-top: 0;
        background-color: var(--green-ligth);
        border-bottom: 1px solid var(--body);
    }
    .navbar .logo {
        width: 160px;
        height: 50px;
    }
    .navbar-nav {
        height: 190px;
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .navbar .nav-link {
        font-size: 22px;
        color: var(--primary);
        border-bottom: 0px solid transparent;
    }
    .navbar .nav-link:hover {
        color: var(--primary-two);
        border-bottom: 0px solid transparent;
    }
    .navbar .btn-secondary-c {
        background-color: var(--green-ligth);
        border-bottom: 0px solid transparent;
        border-right: 0px solid transparent;
        border-radius: 0px;
        box-shadow: none;
        width: 120px;
        height: 35px;
        padding: 4px;
        color: var(--primary);
        font-weight: 600;
        font-size: 22px;
    }
    .navbar .btn-secondary-c:hover {
        color: var(--primary-two);
        font-weight: 600;
        box-shadow: none;
        background-color: var(--green-ligth);
        border-bottom: 0px solid transparent;
        border-right: 0px solid transparent;
        border-radius: 0px;
    }
    .inicial-home {
        height: 700px;
    }
    .h1-top {
        font-size: 35px;
    }
    .secundaria-home .service:hover {
        transform: scale(1);
    }
    .cta {
        padding-top: 70px;
        padding-bottom: 70px;
        background: linear-gradient(to left, rgba(48, 48, 48, 0.4) .1%, rgba(0, 0, 0, 0.9)), url(../img/jpg/fundo-cta.jpg);
        background-position: center;
        overflow: hidden;
        border-top: 3px solid rgb(225, 0, 34);
        border-bottom: 3px solid rgb(225, 0, 34);
    }
    .produtos-home::before {
        width: 200px;
        height: 200px;
        top: -30px;
        left: -120px;
    }
    .produtos-home p.fsc-p {
        width: 100%;
    }
    .secundaria-home p {
        margin: 0 auto;
        width: auto;
        padding: 8px;
    }
    .secundaria-produtos {
        height: fit-content;
    }
    .container-carrosel {
        margin-top: 85px!important;
    }
    .inicial-servicos {
        height: 300px;
        background-repeat: no-repeat;
    }
    #section-servicos .servicos-content {
        width: 100%;
        height: fit-content;
        padding-bottom: 20px;
    }
    #section-servicos .servicos-content-img {
        margin-top: 80px;
    }
    .container-content-exp:nth-child(2) {
        margin-top: 35px;
    }
    .container-content-exp:nth-child(3) {
        margin-bottom: 35px;
    }
    #servicos-exp {
        background-attachment: scroll;
    }
    .inicial-servicos {
        height: 300px;
    }
    .inicial-servicos h2 {
        margin-top: 60px;
    }
    .inicial-produtos {
        height: 300px;
    }
    .inicial-produtos h2 {
        margin-top: 60px;
    }
    .img-produtos-center {
        margin: 0 auto!important;
    }
    .text-dark a {
        margin: 0 auto;
        margin-top: 10px;
    }
}

@media (max-width: 575.98px) {
    .container-carrosel {
        margin: 0 3%;
        width: 500px;
        margin-top: 15px;
    }
    .container-content-produtos {
        margin-top: -120px;
        margin-bottom: 20px;
    }
    .produtos-content {
        width: 100%;
        padding-left: 17px;
    }
    .bg-primary {
        font-size: 28px;
        width: 100%;
        margin-left: 2%;
        background-color: rgb(0, 21, 88)!important;
        border-radius: 50px;
    }
    .text-dark a {
        margin-right: 500px;
        margin-top: 10px;
        width: 45%;
    }
    .container-servicos .img-fluid {
        margin: 0 auto;
    }
    .footer .bi {
        font-size: 25px;
    }
    .footer span {
        font-size: 13px;
    }
    .div-footer-bottom {
        font-size: 14px;
    }
    .div-footer-bottom>span {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .h1-top {
        font-size: 1.9rem;
    }
}

@media (max-width: 378px) {
    .h1-top {
        font-size: 2.3rem;
    }
}

@media (max-width: 330px) {
    .h1-top {
        font-size: 2.3rem;
    }
}